<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Check Result</h1>
    <h2>Enter the obtained marks out of 100 to check success status!</h6>
    <div class="Calculate">
        <form action="{{ url_for('form') }}" method="post">

            <input type="number" placeholder="Maths" id="Maths" name="Maths" required><br><br>
        
            <input type="number" placeholder="Computer" id="Computer" name="Computer" required><br><br>
        
            <input type="number" placeholder="Physics" id="Physics" name="Physics" required><br><br>
        
            <button type="submit">Calculate</button> 
        </form>
        <br>

        <!-- <h3>The average marks are: {{ score }}</h3> -->

    </div>
</body>
</html>
